# Ignorar configuraciones personales
.obsidian/workspace.json
.obsidian/config
.obsidian/appearance.json
.obsidian/hotkeys.json
.obsidian/graph.json
.trash/

# Ignorar temas locales
# .obsidian/themes/

# Archivos de sistema
desktop.ini
Thumbs.db
.DS_Store
.AppleDouble
.LSOverride

# Ignorar archivos de log o bases de datos temporales (si aplicara)
*.log

# Backups u otros
*_backup.*
*.bak
*.tmp