# Ignorar configuraciones personales
.obsidian/workspace.json
.obsidian/config
.obsidian/appearance.json
.obsidian/hotkeys.json
.trash/

# Ignorar temas locales
# .obsidian/themes/

# Ignorar notas temporales, backups y archivos del sistema
.DS_Store
Thumbs.db
*.bak
*.tmp

# Ignorar archivos de log o bases de datos temporales (si aplicara)
*.log
